<div class="message <%= message.form?(current_user) ? 'right' : '' %>">
   <%= image_tag message.user.profile_photo_url, class: 'avatar' %>
  <div class="message-content"> <%= message.body %> </div>
</div>
