<div class="message <%= user_is_messages_author ? 'message--right message--gradient' : 'message message--left message--grey' %>">
  <p><%= simple_format(message.body) %></p>
    <div class="message__timestamp">
      <span><%=message.created_at.strftime("%k:%M %p").strip %></span>
    </div>
</div>
