<%= render 'shared/navbar' %>
<div class="small_banner connections__header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Messages</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="connections__body">
        <h2>No messages. <strong>Yet...</strong></h2>
        <p>Explore SWAPP to find people with whom to share your skills. Once you start chatting, your conversations will be stored here.</p>
        <form action="<%= users_path %>">
          <button class="button-small">Explore SWAPP</button>
        </form>
      </div>
    </div>
  </div>
</div>


