<div class="small_banner connections__header">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Messages</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="connections__body">
        <h3>No messages… Yet.</h3>
        <p>When you find a person that you want to meet, Tell them a bit about yourself and what you’d like to learn and SWAAP</p>
        <form action="<%= users_path %>">
          <button class="button-small">SWAAP Skills</button>
        </form>
      </div>
    </div>
  </div>
</div>


