<div class="container">
  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <div class="chat-header">
        <% if current_user.id == @connection.requester.id %>
          <h4><%= @connection.responder.name %></h4>
        <% else %>
          <h4><%= @connection.requester.name %></h4>
        <% end %>
      </div>
      <div class="messages">
        <% @connection.messages.each do |message| %>
          <%= render "messages/message", message: message %>
        <% end  %>
      </div>
      <div id="create-message"></div>

      </div>
  </div>
</div>


