// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #CACFD9;

$smokey-black: #0C120C;
$flame: #F15025;
$gunmetal: #2F323A;
$rich-lilac: #BD68D4;
$ocean-blue: #422CB2;
$purple-gradient: linear-gradient(150deg, #3023AE 0%, #C86DD7 100%);
