// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F1F0F0;

$smokey-black: #0C120C;
$flame: #BDEDE0;
$gunmetal: #1c1D21;
$rich-lilac: #A543DB;
$ocean-blue: #496EE1;
$ghost-white: #F7F7FF;
