$h1: 41px;
$h2: 27px;
$h3: 22px;
$h4: 19px;
$h5: 16px;
$h6: 14px;

$p: 18px;

$light: 300;
$normal: 400;
$bold: 600;
$space-out: 0.5px; //used for letter spacing if needed

h1 {
  font-size: $h1 !important;
  font-family: $headers-font !important;
}

h2 {
  font-size: $h2 !important;
  font-family: $headers-font !important;
}

h3 {
  font-size: $h3 !important;
  font-family: $headers-font !important;
}

h4 {
  font-size: $h4 !important;
  font-family: $headers-font !important;
}

h5 {
  font-size: $h5 !important;
  font-family: $headers-font !important;
}

p {
  font-size: $p !important;
  font-family: $body-font !important;
}


a {
  text-decoration: none !important;
  &:hover {
    text-decoration: none !important;
  }
}
