#create_message {
}

.messages {
  margin-top: 20px;
  margin-bottom: 122px;
}

.day_stamp {
  text-align: center;
}

.chat_text_box {
  position: fixed;
  bottom: 50px;
  opacity: .95;
  background-color: white;
}
