// Specific CSS for your home-page
.home {
  color: white;
}

.home__logo {
  padding: 85px 0px;
}

.home__header {
  font-weight: $bold;
  font-size: $h1;
}

.home__paragraph {
  font-weight: $normal;
  font-size: $p;
}

.home__terms {
  font-weight: $light;
  font-size: $h5;
  margin-top: 27px;
  color: white;
}

.button__top {
  margin-top: 53px;
  margin-bottom: 10px;
}


