// Specific CSS for your home-page
.home {
  color: white;
  font-family: $body-font;
}

.home__logo {
  padding: 0px 0px 25px 0px;
  margin-right: auto;
  margin-left: auto;
}

.home__header {
  font-weight: $bold;
  font-size: $h1;
  font-family: $headers-font;
}

.home__paragraph {
  font-weight: $light;
  font-size: $p;
  font-family: $body-font;
}

.home__terms {
  font-weight: $light;
  font-size: $h5;
  font-family: $body-font;
  margin-top: 27px;
  color: white;
}

.button__top {
  font-family: $headers-font;
  font-size: $h4;
  font-weight: $bold;
  margin-top: 43px;
  margin-bottom: 10px;
}

.home__member {
  font-weight: $light;
  font-size: 12px !important;
  font-family: $body-font;
  margin-top: 20px;
  color: white;
  .home__btn__signup {
    color: white;
    font-weight: $bold;
    padding-left: 2px;
  }
}


