.market {
  background: $ghost-white;

  .col-xs-12 {
    a:nth-last-child(1) .card {
      margin-bottom: 80px;
    }
  }
}

.market__title {
  text-align: center;
  color: $ghost-white;
  padding: 20px 0px 5px 0px;
}

.market__not-found {
  color: $ghost-white;
}
