.profile-content.active {
  display: block;
  min-height: 260px;
  margin-bottom: 83px;

  h3 {
    color: $ocean-blue;
    font-size: $h3;
    font-family: $headers-font;
    font-weight: $normal;
    margin-bottom: 0px;
    p {
      font-weight: $light;
      font-size: 9px;
    }
    i {
      color: $light-gray;
      font-size: 10px;
    }
    u {
      font-size: 10px;
    }

  }
  p {
    font-size: $p;
    font-family: $body-font;
  }
  ul {
    padding-left: 25px;
    font-family: $body-font;
    font-size: $p;
    line-height:25px;
  }
}

#btn-update-about {
  padding-left: 1px;
}
.btn-update-other {
  padding-left: 1px;
}

.profile-content {
  display: none;
}
.description {
  border-bottom: 1px solid $light-gray;
  padding-bottom: 15px;
  line-height: 25px;
}

.media-display {
  width: 290px;
  height: 200px;
  object-fit: cover;
  box-shadow: 0.2px 0.2px 4px $light-gray;
  margin-top: 10px;
  margin-bottom: 10px;
}

#user_profile_photo {
  font-family: $body-font;
  color: $gunmetal;
  text-decoration: underline;
}
