

.show-content.active  {
  display: block;
  min-height: 260px;
  h3 {
    color: $ocean-blue;
    font-size: $h3;
    font-family: $headers-font;
    font-weight: $normal;
    margin-bottom: 0px;
    p {
      font-weight: $light;
      font-size: 9px;
    }
  }
  p {
    font-size: $p;
    font-family: $body-font;
  }
  ul {
    margin-top: 10px;
    padding-left: 25px;
    font-family: $body-font;
    font-size: $p;
    line-height:25px;
  }
}

.show-content  {
  display: none;
}

.last_profile_card {
  margin-bottom: 300px;
}
