.btn-container {
  text-align: center;
}

.show-content.active  {
  display: block;
  min-height: 260px;
  h3 {
    color: $ocean-blue;
    font-size: $h3;
    font-family: $headers-font;
    font-weight: $bold;
    margin-bottom: 0px;
    p {
      font-weight: $light;
      font-size: 9px;
    }

  }
  p {
    font-size: $p;
    font-family: $body-font;
  }
  ul {
    padding-left: 25px;
    font-family: $body-font;
    font-size: $p;
  }
}

.show-content  {
  display: none;
}
