<div class="home_banner" style="background-image: linear-gradient(150deg, #3023AE 0%, #C86DD7 100%), url('');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <h1>Getting Started</h1>
        <div class="entry">
          <p>Hey, what's your name?</p>
          <input class="awesomplete" data-list="<%= @tag_names %>"  data-multiple/>
        </div>
      </div>
    </div>
  </div>
</div>



















<!--


<input class="awesomplete" data-list="<%= @tag_names %>"  data-multiple/>

 -->
