<div class="home_banner" style="background-image: linear-gradient(150deg, #3023AE 0%, #C86DD7 100%), url('');">









</div>





















<!--
<input class="awesomplete" data-list="<%= @tag_names %>"  data-multiple/>
 -->
