<nav class ="global-nav navbar navbar-fixed-bottom">
  <div class="container">
    <div>
      <div class="global-nav__nav">
        <div class="global-nav__links">
          <div class="global-nav__element">

              <%= image_tag 'messages_icon.svg'  %>

          </div>
          <div class="global-nav__element">

              <%= image_tag 'home_icon.svg' %>

          </div>
          <div class="global-nav__element">
            <%= link_to profile_path do %>
              <%= image_tag 'user_icon.svg'  %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
