<nav class ="navbar navbar-fixed-bottom navbar-inverse">
  <div class="container">
    <div>
      <div class="navbar__nav">
        <div class="navbar__links">
          <div class="navbar__element">

              <%= image_tag 'messages_icon.svg'  %>

          </div>
          <div class="navbar__element">

              <%= image_tag 'home_icon.svg'  %>
          </div>
          <div class="navbar__element">

              <%= image_tag 'user_icon.svg'  %>

          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
