.avatar {
  object-fit: cover;
  width: 85px;
  height: 85px;
  border-radius: 50%;
}

.avatar--sm {
  width: 42px;
  height: 42px;
}

.avatar--lg {
  width: 143px;
  height: 143px;
}

// Add to a div surrounding the <img>
.avatar--gradient {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(250deg, rgba(165, 67, 219, 100), rgba(73, 110, 225, 100));
}
