.button {
  text-decoration: none;
  color: $rich-lilac;
  background-color: white;
  width: 231px;
  height: 50px;
  border-radius: 50px !important;
  font-size: 13px;
  opacity: 0.95;
  border: 0px;
}

.button:hover {
 text-decoration: none;
 opacity: 1;
 color: $rich-lilac;
}

.button-small {
  background-image: linear-gradient(150deg, #7BE0AD 0%, #C86DD7 100%), url('');
  text-decoration: none;
  color: white;
  background-color: $flame;
  width: 129px;
  height: 25px;
  border-radius: 50px !important;
  font-weight: lighter;
  font-size: 13px;
  opacity: 0.93;
  border: 0px;
}

.button-small:hover {
 text-decoration: none;
 opacity: 1;
 color: white;
}


  // <form action="<%= user_session_path %>">
  //   <button class="button-small">Sign In</button>
  // </form>
