
.button-profile {
  margin-bottom: 60px;
  position: sticky;
  background-image: linear-gradient(to right, #A543DB 0%, #496EE1 100%);
  box-sizing: border-box;
  color: white;
  font-weight: $bold;
  height: 72px;
  letter-spacing: 1px;
  padding: 4px;
  position: relative;
  text-decoration: none;
  width: 98vw;
  margin-bottom: 71.5px;
   a {
      display: flex;
      align-items: center;
      background: white;
      justify-content: center;
      height: 100%;
      width: 100%;
      color: $rich-lilac;
      font-family: $headers-font;
      font-size: $h5;
   }
}

// .btn-profile {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 71px;
//   background-color: $ocean-blue;
//   color: white !important;
//   width:100%;
//   font-size: $h5;
//   margin-bottom: 71.5px;
//   // box-shadow: -2px 10px 26px -15px rgba(0,0,0,0.75);
//   font-family: $body-font;
//   font-weight: $bold;
//       a {
//         color: white;
//       }
// }
