.button {
  text-decoration: none;
  color: $rich-lilac;
  background-color: white;
  width: 231px;
  height: 50px;
  border-radius: 50px !important;
  font-size: 13px;
  opacity: 0.95;
  border: 0px;
}

.button--label {
  text-decoration: none !important;
  color: $rich-lilac;
  background-color: white;
  width: 231px;
  height: 40px;
  border-radius: 50px !important;
  font-size: 13px !important;
  opacity: 0.95;
  box-shadow: 0px 10px 32px;
  border: 0px;

  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.button:hover {
 text-decoration: none;
 opacity: 1;
 color: $rich-lilac;
}

.button-small {
  background-image: linear-gradient(150deg, #3023AE 0%, #C86DD7 100%), url('');
  text-decoration: none;
  color: white;
  width: 150px;
  height: 40px;
  border-radius: 50px !important;
  font-size: 15px;
  opacity: 0.93;
  border: 0px;
  box-shadow: 0px 0.2px 4px $gunmetal;
}

.button-small:hover {
 text-decoration: none;
 opacity: 1;
 color: white;
}

.button--xs {
  width: 90px;
}

  // <form action="<%= user_session_path %>">
  //   <button class="button-small">Sign In</button>
  // </form>
