/* carousel */
#quote-carousel {
  padding: 0 10px 30px 10px;
  margin-top: 30px;
  text-align:center;
  transition: ease 1s;
}
/* indicator position */
#quote-carousel .carousel-indicators {
  right: 50%;
  top: auto;
  bottom: -10px;
  margin-right: -19px;
}

/* active indicator */
#quote-carousel .carousel-indicators .active {
  background: white;
  height:10px;
  width:10px;
  margin-bottom:1px;
}

.carousel-fade {
    .carousel-inner {
        .item {
          transition-property: opacity;
        }

        .item,
        .active.left,
        .active.right {
            opacity: 0;
        }

        .active,
        .next.left,
        .prev.right {
            opacity: 1;
        }

        .next,
        .prev,
        .active.left,
        .active.right {
            left: 0;
            transform: translate3d(0px, 0px, 0px);
        }
    }
}


