#form {
  text-align: center;
  color: white;

  h2 {
    font-weight:lighter;
    font-size: $h2;
  }

  p {
    font-weight: $light;
    font-size: $p;
  }

  a {
    color: white;
    text-decoration: none;
    font-weight: $light;
    font-size: $p;
    line-height: 2.0;
    &:hover {
    font-weight: $normal;
    }
  }

  label {
    font-weight: $light;
  }
}

.form__background{
  background-image: linear-gradient(150deg, #3023AE 0%, #C86DD7 100%);
  background-size: cover;
  min-height: 100vh;
}

.form__brand {
  padding-top: 60px;
  padding-bottom: 50px;
}

// marked important to prioritize over bootstrap
.form__input {
  background: none !important;
  border-bottom: 1px solid lightgray !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  padding: 6px 70px !important;
  color: white !important;
  font-weight: 350 !important;
}

.form__wrap-input {
  position: relative;
  margin-bottom: 15px;
}

.form__icon {
  position: absolute;
  top: 10px;
  left: 42px;
}

.form__remember {
  display: flex;
  justify-content: center;

  #user_remember_me {
    margin-right: 5px;
  }
}

.form__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  margin-top: 30px;
}

