#form {
  text-align: center;
}

.form__brand {
  margin-top: 110px;
  margin-bottom: 190px;
}

// overriding bootstrap class
.form-control {
  background: none;
  border-bottom: 1px solid gray !important;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
  box-shadow: none !important;
  border-radius: 0px !important;
  padding: 6px 37px !important;
}

.form__wrap-input {
  position: relative;
  margin-bottom: 15px;
}

.form__icon {
  position: absolute;
  top: 10px;
  left: 10px;
}

.form__remember{
  display: flex;
  justify-content: center;

}

.form__links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 130px;
  margin-top: 30px;
}

