.global-nav  {
  height: 10vh;
  background-color: white;
  box-shadow: 2px 2px 4px;
}

.global-nav__nav {
  display: flex;
  align-items: center;
  height: 71.5px;
}
.global-nav__links {
  width: 720px;
  display: flex;
  justify-content: space-around;

}

.global-nav__element {
  width: 30px;
  height: 30px;
  svg {
    width: 23px;
    height: 23px;
  }
}

.global-nav__element.purple {
  width: 30px;
  height: 30px;

  svg {
    width: 23px;
    height: 23px;
  }
}
