.global-nav  {
  box-shadow: 0px 2px 4px rgba(50, 50, 50, 0.75);
  height: 10vh;
  background-color: white;
}

.global-nav__nav {
  display: flex;
  align-items: center;
  height: 71.5px;
}
.global-nav__links {
  width: 720px;
  display: flex;
  justify-content: space-around;

}

.global-nav__element {
  width: 30px;
  height: 40px;
  svg {
    width: 23px;
    height: 23px;
  }
}

.global-nav__element.purple {
  width: 30px;
  height: 40px;

  svg {
    width: 23px;
    height: 23px;
    filter: drop-shadow(4px 4px 4px rgba(180, 180, 180, 0.5));
  }
}
