.profile__header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
  margin-bottom: 22px;
  color: white;
}

.profile__header_content {
  padding-left: 25px;
}

.profile__header_name {
  font-size: $h2;
  margin: 0px;
  margin-bottom: 10px;
  font-weight: $bold;

}

.profile__header_location {
  font-size: $h4;
  margin: 0px;
  font-weight: lighter;
}


      // <div class="profile__header">
      //   <div class="profile__header_avatar">
      //     <% unless @user.profile_photo_url.nil? %>
      //     <%= image_tag @user.profile_photo_url, class: 'avatar'  %>
      //     <% end %>
      //   </div>
      //   <div class="profile__header_content">
      //     <h3 class="profile__header_name"><%= @user.name.titleize %></h3>
      //     <h4 class="profile__header_location"><%= @user.location %></h4>
      //   </div>
      // </div>

