.profile-banner {
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  //position: relative;

}

// .background-image {
//   position:absolute;
//   top:0;
//   bottom:0;
//   z-index: 0;
//   background-image: linear-gradient(150deg, rgba(48, 35, 174, .8) 0%, rgba(200, 109, 115, .9) 100%);
//   img {
//     background-size: cover;
//     z-index: -1;
//     filter: blur(5px);
//     max-width: 100%;
//     max-height: 100%;

//   }

// }

.profile-banner__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;

  h2 {
    margin-top: 0px;
    font-size: $h2;
    font-family: $headers-font;
  }

  p {
    font-weight: $light;
    font-size: $p;
  }

}
