#search-bar {
    position: relative;
    margin: 20px 0px;

  .form-control {
    font-size: $p;
    height: 30px;
    width: 100%;
    background-color: transparent;
    border: 1px solid lightgray;
    border-radius: 2px;
    color: $gunmetal;
    padding-left: 35px;
    font-family: $body-font;
  }

  .search-bar__icon {
    position:absolute;
    bottom: 7px;
    left: 11px;
    z-index: 1;
    font-size: 15px;
    color: $gunmetal;

  }
}
