.bubble-box {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: -5px;
}

.bubble {
  font-size: $h5;
  font-weight: normal;
  padding: 4px 10px;
  margin: 0px 4px 7px 0px;
  border: 1px solid lightgray;
  border-radius: 40px;
  text-align: center;
}
