.small_banner {
  background-image: linear-gradient(150deg, #A543DB 0%, #496EE1 100%), url('');
  color: white;
  height: 61px;
  font-weight: $normal;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  h2 {
    margin: 0px;
    padding-left: 20px;
  }
}
