.tabs {
  width: 372px;
  height: 28px;
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 0px;

}

.btn-tabs.active {

  font-family: $headers-font;
  font-size: $h4;
  color: $ocean-blue;
  border: none;
  background-color: $ghost-white;
  opacity: 0.9;
  width: 165px;
}

.btn-tabs {
  color: $gunmetal;
  font-family: $headers-font;
  font-size: $h4;
  border: none;
  background-color: $ghost-white;
  width: 165px;
}
