.tabs {
  height: 50px;
  // padding-left: 20px;
  // padding-right: 20px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  margin-bottom: 0px;

}

.btn-tabs.active {

  font-family: $headers-font;
  font-size: $h4;
  color: $ocean-blue;
  font-size: $h4;
  border-radius: 3px;
  background-color: white;
  border: none;
  width: 165px;
}

.btn-tabs {
  color: white;
  border: 2px solid white;
  font-family: $headers-font;
  font-size: $h4;
  font-weight: $light;
  background-color: transparent;
  width: 165px;
  border-radius: 3px;
}
